<div class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-lg-10 bike-description d-flex justify-content-center justify-content-lg-start bike-description">
                <span>{{bike.bikeName}} / {{bike.categoryName}} / ${{bike.price}}</span>
            </div>
            
            <div class="col-12 col-lg-2 d-flex justify-content-center justify-content-lg-end pt-3 pt-lg-0">
                <button class="btn btn-delete-bike w-100" (click)='onCancel()'>Cancel rent</button>
            </div>
        </div>
    </div>
</div>